@import "tailwindcss";

:root {
  --background: #e7dfd8;
  --foreground: #e7dfd8;
  --secondary: #231f20;
}


body {
  background: var(--background);
  color: var(--secondary);
}

nav li {
  color: var(--secondary);
}

/* === Modern Custom Scrollbar === */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b6a999 #f1ede9; /* thumb, track */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1ede9;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b6a999;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c7e73;
}

